<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IRacingService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/Temporary_Listen_Addresses/racing/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRacingService"
                contract="RacingDriverServiceRef.IRacingService" name="BasicHttpBinding_IRacingService" />
        </client>
    </system.serviceModel>
</configuration>